*
{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
:root
{
    --bg-color: #F8F9FA;
    --bg-color-ul: #ffffff;
    --li-odd-color:#DCEEF3;
    --li-even-color: #A7D5E1;
    --buttons-bg-color: #00a6fb;
    --margin-top-bottons: 120px;
}

.body
{
    height: 100vh;
    width: 100%;
}

.h1
{
    display: flex;
    align-items: center;
    height: 70px;
    font-family: 'Farro', sans-serif;
    font-size: 20px;
    padding-left: 20px;
    min-width: 100%;
    -webkit-box-shadow: 0px 2px 15px -5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 15px -5px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 15px -5px rgba(0,0,0,0.2);
    z-index: 10;
}

.main--container
{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section--buttosOptions
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    height: 100px;
    width: 100%;
}

.p-touch { margin-top: 10px; padding-bottom: 20px; }

.button--plus--close,.button--deleteAll
{
    outline:none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--buttons-bg-color);
    transition: 1s;
    cursor: pointer;
}

.button--plus--open
{
    transition: 1s;
    transform: rotate(45deg);
    background-color: #ef233c;
    cursor: pointer;
    outline:none;
}
.button--deleteAll
{
    margin-left: 30px;
    width: 150px;
    border-radius: 20px;
    border: 1px solid #ff0000;
    background-color: transparent;
    transition: 1s;
    cursor: pointer;
    position: absolute;
    right: 30%;
}
/*===============================*/
.div--buttons--hidden
{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 200px;
  background: transparent;
  position: absolute;
  top: 180px;
  padding-right: 20px;
  visibility: hidden;
}

.div--buttons--visible { visibility: visible; }

[class^="button--panel"]
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -15px; 
    background-color: var(--buttons-bg-color); 
    padding: 20px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    cursor: pointer;
}

.a-button1
{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--buttons-bg-color);
    cursor: pointer;
    margin-top:  var(--margin-top-bottons);
    margin-left: 20px;
}

.button--panel2:hover{transform: rotate(90deg); transition: 1s;}

.button--panel2:hover .i--button2 {transform: rotate(-90deg); transition: 1s;}

.button2
{
    margin-top: var(--margin-top-bottons);
    background-color: var(--buttons-bg-color);
}

.i--button { margin-top: 5px; }

/*===========*/
.form-search--none
{
    position: absolute;
    top: 115%;
    left: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120px;
    width: 110px;
    padding-top: 30px;
    background-color: var(--buttons-bg-color);
    clip-path: polygon(37% 0, 100% 0, 100% 100%, 0 100%, 0 39%);
    visibility: hidden;
}

.form-search--block {visibility: visible;}

.input--range-a
{
    width: 50px;
    margin-bottom: 10px;
}
.input--range-b
{
    width: 50px;
    margin-bottom: 10px;

}/*----------------------------*/
.form-target--none
{
    position: absolute;
    top: 115%;
    right: 90%;
    padding-top: 5px;
    padding-left: 5px;
    background-color: var(--buttons-bg-color);
    height: 100px;
    width: 80px;
    clip-path: polygon(64% 0, 100% 38%, 100% 100%, 0 100%, 0 0);
    display: none;
}
.form-target--block { display: block;}

.input--target { width: 50px; margin: 10px 0; }

.buttonStart
{
    padding: 5px 20px;
    background-color: yellow;
    border-radius: 20px;
}
/*==========================================*/

.section--resultsJs--active
{
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(300px, 350px));
    justify-content: center;
    overflow-y: auto;
    height: 90vh;
    width: 100%;
    background-color: var(--bg-color);
}

.section--resultsNormal--inactive { display: none; }

/*Tablas==================================*/
.div--tableContainer { padding-bottom: 20px; }

.div--tittleTable
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.i--deleteTable{
    margin-left: 40px;
    padding-bottom: 40px;
    cursor: pointer;
    transform: rotate(45deg);
}

.ul--list
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    height: 450px;
    min-width: 300px;
    margin-right: 20px;
    background-color: var(--bg-color-ul);
    -webkit-box-shadow: 12px 14px 5px -6px rgba(0,0,0,0.14);
    -moz-box-shadow: 12px 14px 5px -6px rgba(0,0,0,0.14);
    box-shadow: 12px 14px 5px -6px rgba(0,0,0,0.14);
}

.li--item:nth-child(even){ background-color: var(--li-even-color); }

.li--item
{
    display: flex;
    align-items: center;
    padding-left: 30px;
    margin-bottom: 5px;
    background-color: var(--li-odd-color);
    height: 40px;
    width: 100%;
    list-style: none;
}
.div--errorMessaje--inactive{ display: none; }

.div--errorMessaje--active { display: block; }

.messageError
{
    display: flex;
    align-items: center;
    color: #ef476f;
}

/*==================================*/
.footer--container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #051923;
    height: 100px;
    width: 100%;
}

.bx{ margin-bottom: 10px;}

.h3{ font-size: 15px; color: white;}

i{color: #ffffff;}


 @media screen and (max-width: 500px)
 {
    .body
    { 
        width: 100%;
    }
        
    .button--deleteAll
    {

        height: 40px;
        width: 80px;
        border-radius: 20px;
        border: 1px solid #ff0000;
        background-color: transparent;
        transition: 1s;
        cursor: pointer;
        position: absolute;
        right: 20%;
        top: 19%;
    }
 }